.jumbotron { 
  background: url("https://images.unsplash.com/photo-1470137430626-983a37b8ea46") no-repeat center center fixed;
  height:400px;
  background-size: cover;
}

.transbox {

  background-color: rgba(244, 206, 66, .50);
  text-align:center;

}





.diplomatasc{
    font-family: 'Diplomata SC', cursive;
}

.diplomata{
    font-family: 'Diplomata', cursive;
    
}
.raleway{
    font-family: 'Raleway', sans-serif;
}

.medfont{
    font-size: 20px;
}

.bg-grey {
    background-color: #f6f6f6;
}

.grey{
    color: rgb(50, 50, 50);
}

.black{
    color: #000000;
}


