// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron { 
  background: url("https://static.wixstatic.com/media/8cc219_197118aca7514d43b0666e0a43ff2677~mv2_d_5472_3648_s_4_2.jpg");
  height:600px;
  background-size: cover;
}

.blog{

}

.diplomatasc{
    font-family: 'Diplomata SC', cursive;
}

.diplomata{
    font-family: 'Diplomata', cursive;
    
}
.raleway{
    font-family: 'Raleway', sans-serif;
}

.mediumtext{
    font-size: 20px;
    }

.transbox {

  background-color: rgba(244, 206, 66, .50);
  text-align:center;

}

.black{
    color: #000000;
}